.converter_parent {
  width: 22rem;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 2rem;
  background-color: #fff;
}

.mass {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  outline: 0 !important;
}

#mass {
  display: none;
}

#temperature {
  display: none;
}
